@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Chivo", sans-serif;
}

body{
    box-sizing: border-box;
    background-color: #101824;
    /* display: flex; */
    color: white;
}

.container{
    /* border: 4px solid blue; */
    padding-top: 8vh;
    padding-left: 5vw;
    width: 100%;
    max-height: 100vh;
    display: flex;
    box-sizing: border-box;
}

.main{
    /* border: 4px solid red; */
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.input{   
    width: 500px;
    box-sizing: border-box;
    border-radius: 35px;
    background-color: rgb(138, 143, 192, 0.23);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.input input{
    outline: none;
    border: none;
    background: transparent;
    padding: 20px;
}

.input:focus-within{
    box-shadow: 0 0 5px black;
}

.input button:hover{
    background: #09F7CF;
}

::placeholder{
    color: rgb(225,225,225,0.5);
}

.input button{
    width: 200px;
    outline: none;
    border: none;
    border-radius: 35px;
    font-weight: bold;
    background-color: #54e6af;
    cursor: pointer;
}

.attribution{
    /* border: 2px solid orange; */
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    align-content: space-around;
}

.attribution img{
    margin-right: 20px;
    align-items: center;
}

.main_content{
    /* border: 4px solid white; */
    height: 70%;
    z-index: 99;
    width: 160%;
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-weight: 100;
    text-transform: uppercase;  
    letter-spacing: .3em;
    font-size: 3em;
    color: #54e6af;
}

.main_content h1 span {
    color: white;
}

p{
    width: 45vw;
    font-size: 20px;
    opacity: .5;
    line-height: 1.5;
    padding: 20px 0;
}

.hero{
    /* border: 4px solid purple;    */
    width: 55%;
    max-height: 100vh;
    position: relative;
}

.hero_image{
    width: 105%;      
}

.hero #dots{
    position: absolute;
    right: -5px;  
    bottom: 60px;
}

.sidebar{
    height: 100vh;
    background-color: black;
    padding: 30px 10px;
    color: white;
    font-size: larger;
}

.sidebar ul{
    list-style-type: none;
    margin-top: 30px;
    padding: 0 20px;
}

.sidebar ul li{
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar ul li:hover{
    color: grey
}

a{
    color: inherit;
    text-decoration: none;
}

.dashborad_main{
    height: 100%;
    flex:1;
    color: white;
    padding: 35px; 
}

.main{
    width: 100%;
}

button{
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease;
}

button:hover{
    color:#2c3348;
    background-color: #54E6AF;
}

.featured_container{
    width: 100%;
    max-width: 1500px;
    margin-bottom: 40px;
}

.featured{
   
    display: flex;
    align-items: center;
    background-color: rgb(138, 143, 192, 0.23);
    border-radius: 20px;
    height: 300px;
    overflow: hidden;
}

/* .featured img{
    border-radius: 20px;
} */

.featured div{
    width: 100%;
    padding: 40px;
    line-height: 2;
    font-size: 1.1em;
}

.featured div h4{
    opacity: .6;
}

.latest h2{
    font-size: 2.2em;
}

#shows{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.show{
    background-color: rgb(138, 143, 192, 0.23);
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    line-height: 2;
    cursor: pointer;
    transition: background .4s ease;
}

.show:hover{
    background-color: rgb(138, 143, 192, 0.53);
}

.show:hover img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.show h5{
    opacity: .6;
}

.show img{
    border-radius: 20px; 
}

.show_main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail_header{
    width: 100%;
    display: flex;
    padding: 50px;
    background: linear-gradient(0deg, rgba(36,95,187,1) 17%, rgba(98,148,208,0.95) 86%);

}

.detail_header img{
    width: 250px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detail_header div {
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    line-height: 1.4;
}

.detail_header div p{
    font-size: .5em;
}

.audio{
    display: flex;
    color: white;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    background-color: #2c3348;
    width: 200px;
    height: 70px;
    padding: 10px;
    border-radius: 35px;
    justify-content: space-between;
    transition: box-shadow .2s ease-in;
}

.audio p{
    flex: 1;
    text-align: center;
}

.play_button{
    width: 45px;
    overflow: hidden;
}

.episodes{
    color: white;
    flex: 1;
    overflow-y: scroll;
}

.episodes h2{
    padding: 40px
}

.episode{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 160px;
    cursor: pointer;
    padding: 40px;
}

.episode img{
    width: 100px;
    border-radius: 10px;
    transition: box-shadow .3s ease-out;
}

.episode:hover{
    background: #2c3348;
}

.episode:hover .audio, .episode:hover img{
    box-shadow: rgb(0, 0, 0, 0.45) 0px 5px 15px;
}

.episode .episode_details{
    min-width: 500px;
    max-width: 500px;
}



